.albumTitle{
    font-size: 32px;
    color:var(--blue);
}




.trackTitle{
    font-size: 28px;
    color: var(--lightGreen);
}

.example-viewport {
    height: 300px;
    width: 100%;
  }